<md-toolbar color="primary">
    <span>
    <img md-card-sm-image src="./assets/images/ninja.svg">
   </span>
    <span>Brukersøk</span>
</md-toolbar>

<section>
    <div>
        <md-card>

            <form name="searchForm" (submit)="getUsers($event)">
                <md-input-container>
                    <input mdInput type="text" name="searchString" [(ngModel)]="searchString" placeholder="Hvem søker du etter?" autocomplete="off" autofocus="on" />
                </md-input-container>
                <button md-raised-button>Søk</button>
                <button md-raised-button (click)="clearSearch()">Tøm</button>
            </form>

        </md-card>
        <md-spinner *ngIf="isLoading" style="margin:0 auto;"></md-spinner>
        <md-card *ngIf="userCount > 0 && !isLoading">
            <div>Antall bruker i søket: {{userCount}}</div>
        </md-card>

        <md-card *ngFor="let user of users">
            <md-card-title-group>
                <img md-card-sm-image src="./assets/images/ninja.svg">
                <md-card-title>{{user.givenName}} {{user.sn}}</md-card-title>
                <md-card-subtitle>{{user.cn}}</md-card-subtitle>
                <md-card-subtitle>{{user.brfkDisplayNameLocation}}</md-card-subtitle>
                <md-card-subtitle>{{user.title}}</md-card-subtitle>
            </md-card-title-group>

            <md-card-actions>
                <button md-button (click)="toggleAttributeList(user)">{{attributeListButtonText}}</button>
            </md-card-actions>
            <md-card-content>
                <table *ngIf="user.attributesIsVisible">
                    <tbody>
                        <tr *ngFor="let attribute of getKey(user)">
                            <th *ngIf="attribute != 'controls' && attribute != 'attributesIsVisible'">{{attribute}}</th>
                            <td *ngIf="attribute != 'controls' && attribute != 'attributesIsVisible' && !isArray(user[attribute])">{{user[attribute]}}</td>
                            <td *ngIf="attribute != 'controls' && attribute != 'attributesIsVisible' && isArray(user[attribute])">
                                <ul>
                                    <li *ngFor="let value of user[attribute]">
                                        {{value}}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-card-content>
        </md-card>
    </div>
</section>